.page-content {
	width:100%;
	height:100%;
}

.container {
	display: flex;
	align-items: center; 
	justify-content: center;
	align-content: center;
}

.row {
	flex-direction: row;
}

.column {
	flex-direction: column;
	height: 100%;
}

.column1 {
	width: 100%;
	float: left;
}

#img-console {
	width: 100%;
	height: 100%;
}

.subtitle {
	margin-top: 0px;
	margin-bottom: 25px;
	padding: 10px;
    background-color: #A9C16F;
    border-radius: 5px;

    color: black;
    font-size: xx-large;
    font-weight: 500;

	outline-style: solid !important;
 	outline-width: 3px !important;
}

/* Profile */

#profile-img {
	height: 500px;
	border-radius: 25px;
	overflow-y:hidden;
	margin: 25px;
	outline-style: solid !important;
	outline-width: 3px !important;
	box-shadow: 8px 8px 8px #555555;
}

#about-section {
	background-color: #cfb089;
	padding: 25px;
	height: auto;
}

.right{
	width: 800px;
	margin: auto;
	background: #e9e9e9;
	box-shadow: 8px 8px 8px #555555;
	padding: 30px 30px;
	border-radius: 10px;
	outline-style: solid !important;
	outline-width: 3px !important;
}

.right .info{
	margin-bottom: 0px;
}