.page-content {
	width:100%;
}

.container {
	display: flex;
	align-items: center; 
	justify-content: center;
	flex-wrap: wrap;
	align-content: center;
}

.subtitle{
  margin-top: -50px;
}

.row {
	flex-direction: row;
}

.column {
	flex-direction: column;
	height: 100%;
}

.column1 {
	width: 100%;
    float: left;
}

#img-console {
	width: 100%;
}

/* Profile */

#profile-img {
  height: 500px;
	border-radius: 25px;
	overflow-y:hidden;
	margin-left: 100px;
}

#about-section {
	background-color: #cfb089;
	padding: 300px;
	height: auto;
}

.right{
    width: 1000px;
    margin: auto;
    background: #e9e9e9;
    box-shadow: 8px 8px 8px #555555;
    padding: 30px 30px;
    border-radius: 10px;
    outline-style: solid !important;
    outline-width: 3px !important;
  }

.right .info{
  margin-bottom: 0px;
}

