.long-div-container {
  padding: 30px 10vw;
  display: flex;
  background-color: #cfb089;
}

.long-div {
  width: 1280px;
  height: auto;
  border-radius: 20px; 
  border: solid 1px lightgrey;  
  margin-left: auto;
  margin-right: auto;
}

.long-div-content {
  height: 100%;
  display: flex;
}

.long-div-image {
  width: 100%;
  background-color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  outline-style: solid !important;
  outline-width: 3px !important;
}
.long-div-image img{
  width: 100%;
  height: auto;
}

.long-div-body {
  padding: 2.5%;
  max-width: 200px;
  position: relative;
  background-color: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  outline-style: solid !important;
  outline-width: 3px !important;
}

.long-div p {
  line-height: 25px;
  padding-bottom: 2.5%;
}
.long-div-body button {
  border: 0;
  width: auto;
  padding: 0.5rem;
  font-family: inherit;
  font-size: 25px;
  font-weight: 600;
  background-color: transparent;
  color: rgb(52, 137, 47);
  letter-spacing: 0.05em;
}
.long-div-body button:hover {
  text-decoration: underline;
}