.page-content {
	width:100%;
}

.container {
	display: flex;
	align-items: center; 
	justify-content: center;
	flex-wrap: wrap;
	align-content: center;
}

.row {
	flex-direction: row;
}

.column {
	flex-direction: column;
}

#img-console {
	width: 100%;
}

/* Profile */

#profile-img {
    height: 500px;
	border-radius: 25px;
	box-shadow: 12px 12px 1px #555555;
	overflow-y:hidden;
	margin: 10px;
	margin-top: 10px;
    outline-style: solid !important;
    outline-width: 3px !important;
}

#about-section {
	background-color: #cfb089;
	padding: 10px;
	min-height:100vh;
}

.right{
    width: 65%;
    background: #fff;
    padding: 30px 25px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

.right .info{
  margin-bottom: 25px;
}

