.page-content {
	width:100%;
}

.container {
	display: flex;
	align-items: center; 
	justify-content: center;
	flex-wrap: wrap;
	align-content: center;
}

.subtitle{
  margin-top: -100px;
}

.row {
	flex-direction: row;
}

.column {
	flex-direction: column;
}

#img-console {
	width: 100%;
}

/* Profile */

#profile-img {
  height: 500px;
	border-radius: 25px;
	box-shadow: 12px 12px 1px #555555;
	overflow-y:hidden;
	margin: 25px;
  outline-style: solid !important;
  outline-width: 3px !important;
}

#about-section {
	background-color: #cfb089;
	padding: 10px;
	min-height:100vh;
}

.right{
    width: 500px;
    margin: auto;
    background: #fff;
    padding: 30px 30px;
    border-radius: 10px;
    outline-style: solid !important;
    outline-width: 3px !important;
  }

.right .info{
  margin-bottom: 0px;
}

